cmake_LLVM_DIR=C:\dev\scoop\apps\LLVM-14.0.6-win64\lib\cmake\llvm
#cmake_LLVM_DIR=C:\dev\scoop\apps\llvm\current\lib\cmake\llvm
#npm config set cmake_LLVM_DIR C:\dev\scoop\apps\llvm\current\lib\cmake\llvm

